# This workflow runs xcodebuild on every target to make sure it compiles

name: Build iOS 12

on:
  push: 
    branches: [ legacy-projects ]

  workflow_dispatch:

jobs:
  build:
    name: Build all supported targets
    runs-on: macos-10.14
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'legacy-projects'
      
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '11.3'

      - name: Run script
        env:
          DESTINATION: 'platform=iOS Simulator,name=iPhone 7,OS=10.3'
        run: ./scripts/build_platforms.sh
