# This workflow runs xcodebuild on every target to make sure it compiles

name: Xcodebuild

on:
  pull_request: 
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    name: Build all supported targets
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run script
        env:
          DESTINATION: all
        run: ./scripts/build_platforms.sh
